<ion-modal [isOpen]="taskService.isTaskOpen | async" (willDismiss)="onWillDismiss($event)">
	<ng-template>
		<ion-header collapse="condense" class="safearea-ios">
			<ion-toolbar class="header-ios">
				<ion-title size="large">Add Task</ion-title>
				<ion-buttons slot="end">
					<ion-button color="dark" (click)="cancel()">
						<ion-icon name="close-outline"></ion-icon>
					</ion-button>
				</ion-buttons>
			</ion-toolbar>
		</ion-header>
		<ion-content class="ion-padding" [scrollY]="false" [scrollX]="false">
			<div *ngIf="addTaskForm && loaded" [formGroup]="addTaskForm">
				<div *ngIf="inputType === 'form'">
					<ion-item lines="none">
						<ion-input type="text" formControlName="title" placeholder="Title" class="add-task-title"></ion-input>
					</ion-item>
					<ion-item lines="none">
						<ion-input type="text" formControlName="details" placeholder="Details" class="add-task-details"></ion-input>
					</ion-item>
					<ion-item lines="none">
						<ion-chip class="item-overview" (click)="setDateOpen(true)">
							<ion-icon name="calendar-outline" color="dark"></ion-icon>
							<ion-label>{{getSelectedDate()}}</ion-label>
						</ion-chip>
						<ion-chip class="item-overview" (click)="setTimeOpen(true)">
							<ion-icon name="time-outline" color="dark"></ion-icon>
							<ion-label>{{getSelectedTime()}}</ion-label>
						</ion-chip>
					</ion-item>
					<ion-item lines="none">
						<ion-chip class="item-overview" (click)="openListsPicker()">
							<ion-icon name="list-circle-outline" color="dark"></ion-icon>
							<ion-label>{{addTaskForm.value.list?.id ? addTaskForm.value.list.name : 'select list/plan'}}</ion-label>
						</ion-chip>
					</ion-item>
					<ion-grid>
						<ion-row>
							<ion-col *ngFor="let image of addTaskForm.value.attachments; let i = index" size="4">
								<div class="image-box">
									<ion-img [src]="image.downloadURL" (click)="openImage(image.downloadURL)" class="task-img"></ion-img>
									<ion-icon name="close-circle-outline" class="remove-image" (click)="removeAttachment(image, i)"></ion-icon>
								</div>
							</ion-col>
						</ion-row>
					</ion-grid>
				</div>
				<div *ngIf="inputType === 'mic'">
					<ion-fab vertical="center" horizontal="center" slot="fixed" (click)="startRecording()">
						<ion-fab-button [ngClass]="{'rec': activeRecording}" color="danger">
							  <ion-icon name="mic-outline"></ion-icon>
						</ion-fab-button>
					</ion-fab>
					<div class="mic-details-box">
						<div class="mic-details">
							<ion-text *ngIf="!transcription && !processing">{{activeRecording ? 'speak...' : 'tap to record and stop'}}</ion-text>
							<ion-text *ngIf="processing">processing...</ion-text>
							<div *ngIf="transcription" class="tr"><span class="typed-out">"{{transcription}}"</span></div>
							<ion-button *ngIf="transcription" expand="block" color="dark" (click)="setTranscription()" class="btn-transcription">Use this transcription</ion-button>
						</div>
					</div>
				</div>
				<div *ngIf="inputType === 'draw'" #paintSection class="painter-section">
					<div class="paint-description"><ion-text color="medium">Draw anything</ion-text></div>
					<div class="draw-actions">
						<ion-button *ngIf="!emptyPaint"color="dark" (click)="clearPaint()">Clear</ion-button>
						<ion-button *ngIf="!emptyPaint"color="primary" (click)="selectPaint()">Use this paint</ion-button>
					</div>
					<div *ngIf="loadedPaintSection">
						<ng-canvas-painter 
							#painter 
							color="#000000" 
							lineWidth="5" 
							[canvasWidth]="painterSectionRef.element.nativeElement.clientWidth"
							[canvasHeight]="painterSectionRef.element.nativeElement.clientHeight-50"
							(paintStart)="onPaintStart()" 
							(paintEnd)="onPaintEnd()"
							(isEmpty)="onIsEmptyChanged($event)">
						</ng-canvas-painter>
					</div>
				</div>
			</div>
		</ion-content>
		<ion-footer>
			<ion-toolbar class="add-task-footer-toolbar">
				<ion-buttons slot="secondary">
					<ion-button color="dark" (click)="setInputType('form')">
						<ion-icon name="reader-outline"></ion-icon>
						<span *ngIf="inputType === 'form'" class="active-input"></span>
					</ion-button>
					<ion-button color="dark" (click)="setInputType('mic')">
						<ion-icon name="mic-outline"></ion-icon>
						<span *ngIf="inputType === 'mic'" class="active-input"></span>
					</ion-button>
					<ion-button color="dark" (click)="addAttachments()">
						<ion-icon name="images-outline"></ion-icon>
					</ion-button>
					<ion-button color="dark" (click)="takePhoto()">
						<ion-icon name="camera-outline"></ion-icon>
					</ion-button>
					<ion-button color="dark" (click)="setInputType('draw')">
						<ion-icon name="pencil-outline"></ion-icon>
						<span *ngIf="inputType === 'draw'" class="active-input"></span>
					</ion-button>
				</ion-buttons>
				<ion-buttons slot="primary">
					<ion-button color="primary">
						<ion-label size="large" (click)="saveTask()">Save</ion-label>
					</ion-button>
				</ion-buttons>

				<ion-datetime-button datetime="date" [style.display]="'none'"></ion-datetime-button>
				<ion-modal [isOpen]="isDateOpen" [keepContentsMounted]="true" trigger="open-date-input" (willDismiss)="setDateOpen(false)">
					<ng-template>
						<ion-datetime #datepicker [(ngModel)]="date" id="date" presentation="date" show-default-buttons="true"></ion-datetime>
					</ng-template>
				</ion-modal>
				<ion-datetime-button datetime="time" [style.display]="'none'"></ion-datetime-button>
				<ion-modal [isOpen]="isTimeOpen" [keepContentsMounted]="true" trigger="open-time-input" (willDismiss)="setTimeOpen(false)">
					<ng-template>
						<ion-datetime #timepicker [(ngModel)]="time" id="time" presentation="time" show-default-buttons="true" (ionChange)="timeChanged($event)"></ion-datetime>
					</ng-template>
				</ion-modal>
			</ion-toolbar>
		</ion-footer>
	</ng-template>
</ion-modal>

<ion-modal #modalImg [isOpen]="openImgModal" (willDismiss)="openImgModal = false" [showBackdrop]="true" class="image-gallery">
    <ng-template>
		<ion-img [src]="activeImageUrl"></ion-img>
    </ng-template>
</ion-modal>